html{
    /* color: rgba(200, 200, 200, 1); */
    color: #ff0000;
    background-color: #000;
    background-image: url("cachorro-livro.png");
    background-repeat: no-repeat;
    /* height: 100vh; */
    background-position: center;
    background-size: contain;
}
