.box{
    box-sizing: border-box;
    width: 5rem;
    height: 5rem;
    color: white;
    font-size: 3rem;
    padding: 5px 2px 3px 10px;
}
.vermelho{
    background-color: red;
}
.azul{
    background-color: blue;
}
.verde{
    background-color: green;
}