h2{
    color: green;
    text-decoration: underline;
} 

p{
    color: yellowgreen ;
}

.titulo-aula{
    text-decoration: underline;    
}

.texto-azul{
    color: blue;
}

.texto-vermelho{
    color: red;
}

#titulo-primeira-aula{
    text-decoration: none;
}

#titulo-segunda-aula{
    color: brown;
}

