@import 'base', 'formatacaotxt';

$cor1: lightgrey;
$background: black;
$tamanho: 10px;
$cordiv: red;

@mixin fundoP($color){
    background-color: $color;
}

body{
    @include fundoP($background);
    @if($background == black){
        color: $cor1;
        //font-size: #{$tamanho+px};
    }@else{
        color: darkblue;
        background-color: lightskyblue;
    }
    margin: (5%*2);
}

p{
    @include fundoP($background);
    b{
        color: rgb(0, 255, 64);
    }
}

@for $i from 1 through 3 {
    $nome: '#id-' + $i;
    #{$nome}{
        font-size: $tamanho + ($i*4);
        background-color: lighten($cordiv, $i * 10%);
    }
}
 

