h2{
    text-align: center;
}

div{
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

button {
	background: #0066A2;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #eee;
	text-shadow: none;
    height: 25px;
}


