<div *ngIf="medias.length > 0; else semMedia">
    <button type="button" (click)="apagaTudo()">Limpar a Lista</button>
    <ul>
        <li class="titulo">
           <p>Nome</p>
           <p>Média</p>
           <p>Status</p>
           <p>Alterar</p>
           <p>Excluir</p>
        </li>
        <li *ngFor="let media of medias">
            <p>{{media.nome}}</p>
            <p>{{(media.n1+media.n2)/2}}</p>
            <p>{{(media.n1+media.n2)/2 >= 7 ? "Aprovado":"Reprovado"}}</p>
            <p><button (click)="alterarMedia(media)"><i class="fa-solid fa-pen"></i></button></p>
            <p><button (click)="apagarMedia(media.nome)"><i class="fa-solid fa-trash"></i></button></p>
        </li>
    </ul>
</div>
<div>
    <ng-template #semMedia>Nenhuma média foi adicionada a lista</ng-template>
</div>
